<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isuru.track_me"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.isuru.track_me.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.isuru.track_me.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.isuru.track_me.TrackMe"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.isuru.track_me.authentication_system.Authenticator"
            android:label="@string/title_activity_authenticator"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.isuru.track_me.permission_handling_system.PermissionManager"
            android:exported="false"
            android:label="Permission Manager" >
            <intent-filter>
                <action android:name="com.isuru.track_me.permission_handling_system.PermissionManager" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.isuru.track_me.sms_handling_system.SMSRecievedIdentifier"
            android:enabled="true"
            android:exported="true"
            android:label="SMSRecievedIdentifier" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.isuru.track_me.permission_handling_system.DialogActivity"
            android:label="@string/title_activity_dialog" >
        </activity>

        <service
            android:name="com.isuru.track_me.location_tracking_system.SrvPositioning"
            android:exported="false"
            android:label="SrvPositioning" >
            <intent-filter>
                <action android:name="com.isuru.track_me.location_tracking_system.SRVPOSITIONING" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.isuru.track_me.location_tracking_system.ReceiverPositioningAlarm"
            android:enabled="true"
            android:exported="true"
            android:label="ReceiverPositioningAlarm" >
            <intent-filter>
                <action android:name="com.isuru.track_me.location_tracking_system.ACTION_REFRESH_SCHEDULE_ALARM" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.isuru.track_me.location_tracking_system.GoogleService"
            android:exported="false"
            android:label="Google Service" >
            <intent-filter>
                <action android:name="com.isuru.track_me.location_tracking_system.GOOGLESERVICE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCzM57RC6LMmweayZXHqZ3TyfM1yMfxyhI" />
    </application>

</manifest>